include README.rst
include Makefile
include MANIFEST.in
include LICENSE.txt
include *requirements.txt
include testdata/*.cwl
include testdata/*.yaml
include testdata/*.input
include cwl_utils/py.typed
global-exclude *~
global-exclude *.pyc
