include README.rst
include Makefile
include MANIFEST.in
include LICENSE.txt
include *requirements.txt
include create_cwl_from_objects.py
include load_cwl_by_path.py
include cwl_utils/cwlNodeEngine.js
include cwl_utils/cwlNodeEngineJSConsole.js
include cwl_utils/cwlNodeEngineWithContext.js
include testdata/*.cwl
include testdata/*.yaml
include testdata/*.input
include testdata/*.ttl
include testdata/*.owl
include cwl_utils/py.typed
global-exclude *~
global-exclude *.pyc
