name: Publish tag to PyPI

on:
  push:
    tags: [ 'v*' ]

concurrency:
  group: tag-${{github.ref}}
  cancel-in-progress: true

jobs:
  release_to_pypi:
    name: cwl-utils release test
    runs-on: ubuntu-24.04
    environment: PyPI
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Singularity
        run: |
          wget --no-verbose https://github.com/sylabs/singularity/releases/download/v4.2.1/singularity-ce_4.2.1-noble_amd64.deb
          sudo apt-get install -y ./singularity-ce_4.2.1-noble_amd64.deb

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: pip

      - name: Install packages
        run: |
          pip install -U pip setuptools wheel
          pip install virtualenv

      - name: Release test
        env:
          RELEASE_SKIP: head
        run: ./release-test.sh

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: testenv2/src/cwl-utils/dist/
